body {
  background-image: url(.//photo/OIP\ \(2\).jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
* {margin:0; padding:0; box-sizing:border-box;}
body {font-family: Arial, sans-serif; background:#fff8f0; color:#333; line-height:1.6;}


.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#e41212;
}
.navbar .logo {display:flex; align-items:center; gap:10px;}
.navbar .logo img {width:50px; height:50px; object-fit:contain;}
.navbar .logo span {font-size:24px; font-weight:bold; color:#fff;}
.navbar .nav-links {list-style:none; display:flex; gap:20px;}
.navbar .nav-links li a {color:#fff; font-weight:bold;}
.navbar .nav-links li a.active {text-decoration: underline;}

.menu-hero {
    text-align:center;
    padding:80px 20px;
    background:#e50d0d;
    color:#fff;
}
.menu-hero h1 {font-size:36px; margin-bottom:10px;}
.menu-hero p {font-size:18px;}

.menu-items {padding:50px 20px; text-align:center;}
.cards {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}
.card {
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    width:250px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.card img {
    width:100%;
    height:180px;
    object-fit:cover;
}
.card h3 {font-size:22px; margin:10px 0;}
.card p {font-size:18px; margin-bottom:10px;}
.card:hover {
    transform:translateY(-5px);
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

footer {text-align:center; padding:20px; background:#e60a0a; color:#fff;}

@media(max-width:768px){
    .navbar {flex-direction:column; gap:10px;}
    .menu-hero h1 {font-size:28px;}
    .menu-hero p {font-size:16px;}
    .cards {flex-direction:column; align-items:center;}
}
